.container {
  display: flex;
}
.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(13, 228, 228);
}
.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(13, 228, 228);
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
